
body{
    font-family: 'Opens Sans';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0 16px;
    background: url(../images/bg-desktop.svg) top center no-repeat;
    background-color: var(--Violet);
    background-size: cover;
    margin: 0 auto;
}

header {
    max-width: 1440px;
    width: 100%;
    padding: 1rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
    /* topo | direita | inferior | esquerda */
    /* margin: 2px 1em 0 auto; */
}

/* body, header, main, button.botao, footer, .sub-conteudo .titulo-conteudo {
      border: 2px solid red;
   } */

main {
    display: flex;
    gap: 45px;
}

main img {
    max-width: 100%;
}

h1{
    font-weight: 600;
}

.sub-conteudo{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    max-width: 550px;
    color: white;
}

p{
    font-weight: 400;
    margin-bottom: 30px;
}

button {
    font-family: 'Poppins';
    color: rgb(129, 42, 211);
    align-self: flex-start;
    border: none;
    border-radius: 30px 30px;
    padding: 15px 60px;
    box-shadow: 0 0 10px 1px rgb(34, 22, 22);
    /* Os dois primeiros zeros irão definir a ordem da sobra, os dois últimos serão o gloss/shadow */
    font-weight: 500;
}

button:hover{
    background-color: var(--Soft-Magenta);
    transition: 0.3s ease-in-out;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    color: white;
    gap: 15px;
    width: 40%;
}

footer .fa-brands.fa-square-facebook{
    border: solid 1px;
    width: 16px;
    height: 16px;
    border-radius: 30px;
    padding: 10px;
}

footer .fa-brands.fa-twitter{
    border: solid 1px;
    border-radius: 30px;
    padding: 10px;
}

footer .fa-brands.fa-instagram{
    border: solid 1px;
    border-radius: 30px;
    padding: 10px;
}

footer .fa-brands.fa-square-facebook:hover{
    color: var(--Soft-Magenta);
    transition: 0.3s ease-in-out;
}

footer .fa-brands.fa-twitter:hover{
    color: var(--Soft-Magenta);
    transition: 0.3s ease-in-out;
}

footer .fa-brands.fa-instagram:hover{
    color: var(--Soft-Magenta);
    transition: 0.3s ease-in-out;
}

